<footer class="footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="../Assets/Footer_Logo.png" alt="PlaceComm Logo">
        </div>
    </div>
    <div class="footer-middle">
        <div class="footer-columns">
            <div class="footer-column">
                <h4>Product</h4>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Case studies</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Updates</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Getting started</a></li>
                    <li><a href="#">Help center</a></li>
                    <li><a href="#">Server status</a></li>
                    <li><a href="#">Report a bug</a></li>
                    <li><a href="#">Chat support</a></li>
                </ul>
            </div>
            <div class="footer-column newsletter">
                <h4>Subscribe to our newsletter</h4>
                <form>
                    <input type="email" placeholder="Enter your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2024 BML Munjal University | All Rights Reserved</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/bmlmunjaluniversity/?hl=en"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/school/bml-munjal-university/?originalSubdomain=in"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>
