* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Outfit", system-ui;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    background-color: rgb(230,230,230);
    
  }
  
  .navbar {
    background-image: url(../Assets/Career-Services.webp);
    height:150px;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 3px 3px 3px black; */
    color: rgb(255, 255, 255); 
    /* animation: slideDown 0.5s forwards;   */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  /* .logo2{
     
  } */
  
  .logo img {
    width: 330px;
    height: 110px;
    margin-right: 10px;
  }
  
  .logo h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;  
    
  }
  
  .nav-links{
    /* color: #d9f3fb; */
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 30px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #e8e8e8;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .login-btn {
    background-color: #007bff; /* Primary blue color */
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 20px;
}

.login-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: white;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px; 
  gap: 5rem; 
}
    
  .text{
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 50px;
  }
  
  .text h1{
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  .text p{
    font-size: large;
    font-weight: 500;
    line-height: 1.5;
  }
  
  .main{
    border-radius: 10px;
    height: 500px;
  }
  
  .about-bmu {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    padding: 60px;
    margin-bottom: 50px;
  }
  
  .image-container {
    flex: 1;
    padding: 10px;
    border: 10px solid #2f4f4f;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
  }
    
  .image-container img {
    width:500px;
    height: 500px;
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .content-container {
    margin-left: 40px;
    flex: 2;
  }
  
  .content-container h1{
    margin-bottom: 30px;
    font-size: 40px;
  }
  
  .content-container p{
    font-size: large;
    font-weight: 500;
    line-height: 1.5;
  }

  .journey-section {
    background-image: url(../Assets/Background_Main_Page.jpg);
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
  }
  
  .journey-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .highlight {
    color: #ffcc00; /* Highlighted text color */
  }
  
  .journey-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Adjusts for smaller screens */
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white */
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .card h3 {
    margin-top: 0;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
    color: #cce0ff; /* Lighter text color for the list */
  }
  
  .card ul li {
    margin-bottom: 5px;
  }
  
  .learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .learn-more-btn:hover {
    background-color: white;
    color: #003a75; /* Button text color on hover */
  }
  
  .students {
    background-color: #4476a6;
  }
  
  .employers {
    background-color: #37b6ff;
  }
  
  .discover-section {
    margin-top: 50px;
    text-align: center;
    padding: 50px 20px;
  }
  
  .discover-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #333;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    padding: 0 20px;
  }
  
  .category-item {
    background-color: rgb(38,177,238);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
  }

  .category-item2 {
    background-color: rgb(13,77,150);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
  }
  
  .category-item:hover {
    transform: scale(1.05);
  }

  .category-item2:hover {
    transform: scale(1.05);
  }
  
  .category-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .category-item2 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .category-item h2 {
    font-size: 20px;
    margin: 15px 0;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0 10px;
    text-align: center;
  }
  
  .category-item2 h2 {
    font-size: 20px;
    margin: 15px 0;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0 10px;
    text-align: center;
  }

  .success-stories {
    text-align: center;
    padding: 50px 0;
  }
  
  .success-stories h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .story-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .story-card {
    background-color: #d9f3fb;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  a{
    text-decoration: none;
  }
  
  .story-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .story-card h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .story-card:hover {
    transform: translateY(-10px);
  }
  
  .stats-section {
    text-align: center;
    padding: 20px;
  }
  
  .stats-section h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .stats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .stats-img-container {
    width: 300px; 
    display: flex;
    justify-content: center;
  }
  
  .stats img {
    border-radius: 20px;
    margin-bottom: 50px;
    width:5000px;
  }
  
  .companies {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    text-align: center;     
    flex-wrap: wrap;
    padding: 20px;          
  }
  
  .companies img {
    margin-top: 40px;
    width: 1400px; 
  }
  
  .companies h1 {
    font-size: 36px;  
    margin-bottom: 10px; 
  }
  
  .companies p {
    font-size: 18px;  
    line-height: 1.5;
    margin: 0 20px;    
  }
  
  
  footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    margin-top: 50px;
  }
  
  .footer-top {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .footer-logo img {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    font-size: 14px;
    color: #6c757d;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-column {
    width: 200px;
    margin: 10px;
  }
  
  .footer-column h4 {
    font-size: 16px;
    font-weight: bold;
    color: #2a2a2a;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style: none;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #6c757d;
  }
  
  .footer-column ul li a:hover {
    color: #2a2a2a;
  }
  
  .newsletter form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .newsletter input[type="email"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 200px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #6366F1;
    color: white;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: #4f46e5;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: #6c757d;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
  }